### Введение в обработку естественного языка. Урок 2. Создание признакового пространства.

In [1]:
import pandas as pd
import numpy as np
import pickle
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
print(f'pandas : {pd.__version__}')
print(f'numpy  : {np.__version__}')

pandas : 1.1.1
numpy  : 1.18.3

In [3]:
import pickle

with open('combine_df.pickle', 'rb') as f:
    combine_df = pickle.load(f)

In [4]:
combine_df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [5]:
for col in ['tweet_stemmed', 'tweet_lemmatized']:
    combine_df[col] = combine_df[col].apply(lambda text_list: ' '.join(text_list))

In [6]:
combine_df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...",father dysfunct selfish drag kid dysfunct run,father dysfunctional selfish drag kid dysfunct...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...",thank lyft credit use caus offer wheelchair va...,thanks lyft credit use cause offer wheelchair ...
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]",bihday majesti,bihday majesty
3,4,0.0,#model i love u take with u all the time in ...,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]",model love yoyou take yoyou time yoyour,model love yoyou take yoyou time yoyour
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]",factsguid societi motiv,factsguide society motivation

#### 1) Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform().   
   Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [8]:
bow_stemmed = count_vectorizer.fit_transform(combine_df['tweet_stemmed'])
fnames_stemmed = count_vectorizer.get_feature_names()

bow_stemmed_df = pd.DataFrame(bow_stemmed.toarray(), columns=fnames_stemmed)
bow_stemmed_df.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
bow_lemmatized = count_vectorizer.fit_transform(combine_df['tweet_lemmatized'])
fnames_lemmatized = count_vectorizer.get_feature_names()

bow_lemmatized_df = pd.DataFrame(bow_lemmatized.toarray(), columns=fnames_lemmatized)
bow_lemmatized_df.head()

,able,absolutely,account,act,action,actor,actually,adapt,add,adventure,...,yo,yoga,york,young,youtube,yoyou,yoyour,yoyoyou,yr,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_sl = pd.DataFrame({'stemmed': fnames_stemmed, 'lemmatized': fnames_lemmatized})
df_sl.head(10)

   stemmed  lemmatized
0      abl        able
1  absolut  absolutely
2   accept     account
3  account         act
4      act      action
5   action       actor
6    actor    actually
7   actual       adapt
8       ad         add
9    adapt   adventure

#### 2). Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform().   
   Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [12]:
bow_stemmed = tfidf_vectorizer.fit_transform(combine_df['tweet_stemmed'])
fnames_stemmed = tfidf_vectorizer.get_feature_names()

bow_stemmed_df = pd.DataFrame(bow_stemmed.toarray(), columns=fnames_stemmed)
bow_stemmed_df.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.744148,0.392399,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [13]:
bow_lemmatized = tfidf_vectorizer.fit_transform(combine_df['tweet_lemmatized'])
fnames_lemmatized = tfidf_vectorizer.get_feature_names()

bow_lemmatized_df = pd.DataFrame(bow_lemmatized.toarray(), columns=fnames_lemmatized)
bow_lemmatized_df.head()

,able,absolutely,account,act,action,actor,actually,adapt,add,adventure,...,yo,yoga,york,young,youtube,yoyou,yoyour,yoyoyou,yr,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.742113,0.39173,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0

#### 3) Натренируем gensim.models.Word2Vec модель на наших данных.

- Тренировать будем на токенизированных твитах combine_df['tweet_token']
- Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
- Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [14]:
from gensim.models import Word2Vec

In [15]:
sentences = combine_df['tweet_token'].tolist()
params = {'size': 200, 'window': 5, 'min_count': 2, 'sg': 1, 'hs': 0, 'negative': 10, 'workers': 32, 'seed': 34}

In [16]:
%%time
model_w2v = Word2Vec(**params)
model_w2v.build_vocab(sentences)
model_w2v.train(sentences, total_examples=len(sentences), epochs=20)

Wall time: 17.2 s

(9157796, 11728960)

#### 4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. 
Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar.   
То же самое попробуем со словом "trump".

In [17]:
model_w2v.most_similar(positive='dinner', topn=5)

[('tacotuesday', 0.5936923027038574),
 ('spaghetti', 0.579352080821991),
 ('bolognese', 0.5731309056282043),
 ('waterloo', 0.5697736740112305),
 ('bihdaydinner', 0.5677880644798279)]

In [18]:
model_w2v.most_similar(positive='trump', topn=5)

[('donald', 0.5476765632629395),
 ('donaldtrump', 0.5435165166854858),
 ('trumptrain', 0.5248141288757324),
 ('dumptrump', 0.523759126663208),
 ('suppoer', 0.5134188532829285)]

#### 5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).
Давайте проверим векторное представление любого слова из нашего корпуса, 
например  "food".

In [19]:
model_w2v['food']

array([-6.04712725e-01, -3.78251188e-02,  2.04524189e-01,  1.19032347e+00,
        1.27765583e-03,  1.65797994e-01, -9.76497889e-01, -3.80516171e-01,
       -1.51440024e-01, -7.18399212e-02,  4.23063457e-01, -6.69338405e-02,
       -7.19595999e-02,  3.06388766e-01,  9.31894839e-01, -8.15610886e-01,
        2.41569150e-02,  3.85874838e-01,  1.49737182e-03, -1.94975570e-01,
       -4.42120917e-02, -6.33166879e-02,  5.65698385e-01,  1.02626674e-01,
        3.54242057e-01,  1.52845129e-01,  8.07786807e-02, -6.94862247e-01,
        5.56205273e-01, -1.13870740e+00, -6.71940520e-02, -2.68265992e-01,
       -3.57622504e-01, -5.53473420e-02, -7.53603160e-01, -4.65879530e-01,
        3.04997265e-02,  4.15011346e-01,  1.06668495e-01,  2.36929670e-01,
       -1.85809195e-01,  3.39998633e-01, -2.17973925e-02,  3.00518461e-02,
        2.23970011e-01,  6.60979748e-01, -5.19891322e-01,  8.43938470e-01,
        7.25708902e-01, -6.72705472e-01,  2.70539641e-01,  4.57253695e-01,
        2.17348024e-01, -1.64016977e-01,  3.79472584e-01, -4.97048408e-01,
       -2.37965122e-01, -1.37027487e-01, -3.66600424e-01,  6.05281949e-01,
       -1.17787048e-01,  1.08160996e+00, -1.17589043e-04,  4.04793471e-01,
       -3.83852541e-01,  8.00188661e-01,  2.86507070e-01, -2.56189346e-01,
       -2.25971356e-01,  1.18760444e-01, -1.61168486e-01,  6.44455612e-01,
       -8.45263079e-02, -5.99020779e-01,  2.80345201e-01,  1.51287735e-01,
       -5.39491475e-01,  5.13349116e-01, -1.74591839e-01, -2.75981665e-01,
       -2.09467277e-01,  1.55720159e-01,  2.79319167e-01, -5.87088689e-02,
       -1.25561818e-01, -3.49572599e-01,  1.01067424e+00, -1.79930374e-01,
       -1.97804421e-02,  3.29817086e-01, -2.42325202e-01,  3.17382336e-01,
        2.68646479e-01, -1.98737130e-01, -1.52700663e-01,  8.24524522e-01,
        8.28979790e-01, -5.28465450e-01, -2.43350938e-01, -2.03967951e-02,
       -4.23392802e-01, -9.00694966e-01, -1.60087556e-01,  3.04934114e-01,
       -8.98025215e-01, -5.24353564e-01, -1.23782724e-01,  5.45968115e-01,
       -2.74525553e-01, -7.30278730e-01, -2.34358713e-01, -2.67533213e-01,
       -4.30665798e-02,  2.92885035e-01,  1.00752473e-01, -1.17872909e-01,
        6.20010309e-02, -1.40187904e-01,  6.18345775e-02, -3.75588804e-01,
       -3.39328557e-01,  2.94417202e-01,  9.99075413e-01, -6.21123053e-02,
        1.77210271e-01, -1.23263828e-01,  7.90477097e-01, -3.02010983e-01,
        3.35195452e-01,  2.86065102e-01,  2.67326534e-01, -2.09685177e-01,
       -6.12364374e-02, -2.38265112e-01,  1.40723392e-01, -7.95248970e-02,
        3.40407267e-02, -3.13653678e-01,  3.20178382e-02, -3.38297784e-01,
       -4.04989183e-01, -9.37542692e-02,  8.47189277e-02,  5.91421425e-01,
       -2.70803332e-01, -1.12634242e-01,  1.95073813e-01,  5.61938822e-01,
        2.18771830e-01,  6.75188005e-02, -2.04983890e-01,  8.16137671e-01,
        4.34141308e-01, -1.76309109e-01,  2.34775782e-01, -7.19097303e-03,
        3.91195774e-01,  5.92046261e-01, -4.55381691e-01, -2.62713581e-01,
        4.47062915e-03, -1.84006449e-02,  1.02973685e-01, -5.52148283e-01,
       -5.86799979e-01, -9.28079844e-01, -1.55939713e-01, -1.47186145e-01,
        8.70664060e-01, -1.52432859e-01,  2.69144326e-01, -1.61515266e-01,
       -2.16793105e-01,  8.38323176e-01, -5.73485255e-01, -1.77075356e-01,
       -3.28972340e-01,  8.40944409e-01, -5.52319847e-02, -3.71940702e-01,
       -3.50233428e-02,  1.40807763e-01, -1.09520942e-01,  1.33301288e-01,
        2.96538681e-01,  1.11535639e-01, -7.65950829e-02,  6.17964387e-01,
       -7.43603885e-01,  1.06831558e-01, -7.58737326e-02, -1.34110134e-02,
        4.35240492e-02, -3.29179674e-01,  2.45713055e-01, -4.15831625e-01,
       -3.80178750e-01, -3.94980580e-01,  3.69500130e-01,  1.34766683e-01],
      dtype=float32)

In [20]:
model_w2v['food'].size

200

#### 6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита.
Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите.    В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.

На выходе должен получиться wordvec_df.shape = (49159, 200).

In [21]:
def text2vec(text_list, size=200):
    n_words = len(text_list)
    vec = np.zeros((1, size))
    if n_words == 0:
        return vec
    for word in text_list:
        try:
            vec += model_w2v[word].reshape((1, size))
        except KeyError:
            continue
    return vec / n_words

In [22]:
wordvec_df = combine_df['tweet_token'].apply(text2vec)

In [23]:
wordvec_df = np.concatenate(wordvec_df)
wordvec_df.shape

(49159, 200)